<div class="about">
    <h1>Welcome to Phantom Board!</h1>

    <p>
        This forum is a side project that I created to provide a safe, anonymous space for open conversations. As part of my studies and personal interest in building meaningful web applications, I wanted to create a platform where users could interact without the fear of judgment, while prioritizing privacy and anonymity.
    </p>

    <p>
        At <strong>Phantom Board</strong>, you can engage in discussions, ask questions, or share your thoughts freely—without revealing your identity. The platform is designed to foster respectful and open dialogue among users who value anonymity and the freedom to express themselves.
    </p>

    <p>
        Thank you for being part of this community at <strong>Phantom Board</strong>. I hope you find it engaging, thought-provoking, and a place where you can freely express yourself.
    </p>

    <p>
        If you have any questions or need support, feel free to reach out to me.
    </p>

    <footer>
        <p>Check out my <a href="https://vcodestar.github.io/" target="_blank">personal website</a>, where you can explore other projects I've worked on.</p>
    </footer>
</div>
