<% content_for :title, "New post" %>

<div id="edit-wrapper">
  <div id="edit-user-header">
    <h2>New post</h2>
  </div>

  
  <div id="cu-post-wrapper">

    <%= render "form", post: @post %>

  </div>
</div>